<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Home Page</h1>
	<nav>
		<ul class="nav-list">
			<li><a href="/">HOME</a></li>
			<li><a href="/login">LOGIN</a></li>
			<li><a href="/services">SERVICES</a></li>
			<li><a href="/services/design">DESIGN</a></li>
			<li><a href="/admin">ADMIN</a></li>
		</ul>
	</nav>
	<main>

	<figure>
		<img src="/images/node.jpg" width="60%">
		</figure>

	</main>
	
</body>
</html>